<table>
  <tbody>
    <div align="center">
      <td><%= "Pedido número #{@order.id} está completo" %></td>
    </div><br><br>
    <div align="center">
      <%= link_to 'Back Orders', management_center_order_all_index_path %>
    </div>
  </tbody>
</table>
